chunks/

clean_text/

drugs/

cvicu_nursing_policies/

drugs_final/

test_clean_text/

models/

env/
venv/
__pycache__/
*.pyc

*.csv

*extract.py

*extra.py

*test_cleaning.py

*test_extraction.py

*rag_index.faiss

*rag_metadata.pkl


